<div class="summary">
  <table>
    <tr>
      {{ $link := .Permalink }}
      {{ with .Params.eyecatch }}<td rowspan="2"><a href="{{ $link }}"><img src="{{ . }}" width="32" height="32"></a></td>{{ end }}
      <td><h2><a href="{{ $link }}">{{ .Title }} {{ if .Draft }}:: DRAFT{{end}}</a></h2></td>
    </tr>
    <tr><td>
      <div class="meta">
        {{ .Date.Format "Jan 2, 2006" }} &nbsp;
        {{ range .Params.tags }}
        #<a href="/tags/{{ . | urlize }}">{{ . }}</a>&nbsp;
        {{ end }}
      </div></td></tr>
    </table>
</div>
