body {
  background-color: #fff;
  font-family: sans-serif;
  font-size: 14px;
  color: #494949;
  letter-spacing: 0.5px;
}

body img {
  max-width: 100%;
  height: auto;
}

body a {
  color: #494949;
  text-decoration: none;
}

body a:hover {
  color: #29abe2;
  text-decoration: underline;
}

/* Normal h1 */
h1 {
  font-size: 19px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0.2em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  border-left: solid 5px #29abe2;
  border-bottom: solid 1px #29abe2;
}

h2 {
  font-size: 17px;
}

h3, h4, h5, h6 {
  font-size: 16px;
}

h2, h3, h4, h5, h6 {
  padding-left: 0.2em;
  border-left: solid 5px #29abe2;
}

table {
  border-collapse: collapse;
  /* margin: 0 auto; */
}

td, th {
  border: 1px solid #ccc;
  padding: 10px;
}

th {
  background: #EFEFEF;
}

/* Grid Layout */
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 80px 1fr 40px 20px;
  grid-gap: 20px;
}

/* Header Section */
.header {
  grid-column: 1 / 13;
  grid-row: 1 / 2;
  /* Header Grid Layout */
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 1fr;
}

.header-title {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

/* Site title h1 */
.header-title h1 {
  border-left-style: none;
  border-bottom-style: none;
}

.header-subtitle {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  padding-left: 1em;
}

.header-menu {
  grid-column: 4 / 11;
  grid-row: 1 / 3;
  font-size: 16px;
  padding-top: 10px;
}

.header-menu ul {
  list-style: none;
  padding-left: 0;
}

.header-menu ul li {
  display: inline;
  padding-left: 10px;
}
/* Sidebar Section */
.sidebar {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}

.sidebar {
  font-size: 18px;
}

.sidebar ul {
  list-style: none;
  padding-left: 1em;
  margin-top: 5px;
}

.sidebar ul li {
  padding-left: 0;
}

/* Main Section */
.main {
  grid-column: 3 / 11;
  grid-row: 2 / 3;
}

/* Single Section */
.single-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 30px 20px 1fr;
  grid-gap: 10px;
}

.single-title {
  grid-column: 1 / 13;
  grid-row: 1 / 2;
}

.single-modified {
  grid-column: 10 / 13;
  grid-row: 2 / 3;
}

.single-modified:before {
  content: "Last Modified: "
}

.single-content {
  grid-column: 1 / 13;
  grid-row: 3 / 4;
  line-height: 1.6em;
}

.tocbar {
  grid-column: 11 / 13;
  /*  grid-row: 2 / 4; */
  height: 400px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#TableOfContents ul {
  list-style: none;
  padding-left: 10px;
}

#TableOfContents ul li {
  margin-left: 0;
  padding-left: 0;
  margin-top: 0.5em;
}

/* Pagenation Section */
.page {
  text-align: center;
  grid-column: 3 / 11;
  grid-row: 3 / 4;
}
/* List Pagination */
.pagination ul {
  list-style: none;
  padding-left: 0;
}

.pagination ul li {
  display: inline;
  padding-left: 10px;
}
/* Single Pagination */
.prevnext ul {
  list-style: none;
  padding-left: 0;
}

.prevnext ul li {
  display: inline;
  padding-left: 10px;
}
/* Footer Section */
.footer {
  text-align: center;
  grid-column: 1 / 13;
  grid-row: 4 / 5;
}

.footer-profile-image img {
  width: 32px;
  height: 32px;
}

.summary-container {
  display: grid;
  grid-template-columns: 64px 1fr;
  grid-gap: 10px;
  margin-top: 10px;
  padding: 10px;
  background-color: #eee;
}

.summary-eyecatch {
  grid-column: 1 / 2;
}

.summary-eyecatch img {
  width: 64px;
  height: auto;
}

.summary-title {
  grid-column: 2 / 3;
}

.summary-title h3 {
  padding-left: 0.2em;
  border-left-style: none;
}

/* Code Block */
.chroma {
  padding: 15px;
  overflow-x: scroll;
}