.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 60px 1fr 60px 40px;
  grid-gap: 10px;
}

.header {
  /* 列の1本目から3本目のグリッドラインまで */
  grid-column: 1 / 3;
  /* 行の1本目から2本目のグリッドラインまで */
  grid-row: 1 / 2;
  background-color: lime
}

.sidebar {
  /* 列の1本目から2本目のグリッドラインまで */
  grid-column: 1 / 2;
  /* 行の2本目から4本目のグリッドラインまで */
  grid-row: 2 / 3;
}

.main {
  /* 列の2本目から3本目のグリッドラインまで */
  grid-column: 2 / 3;
  /* 行の2本目から3本目のグリッドラインまで */
  grid-row: 2 / 3;
}

.page {
  /* 列の2本目から3本目のグリッドラインまで */
  grid-column: 2 / 3;
  /* 行の3本目から4本目のグリッドラインまで */
  grid-row: 3 / 4;
  background-color: yellow
}

.footer {
  /* 列の1本目から3本目のグリッドラインまで */
  grid-column: 1 / 3;
  /* 行の4本目から5本目のグリッドラインまで */
  grid-row: 4 / 5;
  background-color: blue
}

.summary-container {
  display: grid;
  grid-template-columns: 64px 1fr;
  grid-gap: 10px;
  margin-top: 10px;
  padding: 10px;
  background-color: #eee;
}

.eyecatch {
  /* 列の1本目から2本目のグリッドラインまで */
  grid-column: 1 / 2;
}

.eyecatch img {
  width: 64px;
  height: auto;
}

.summary-title {
  /* 列の2本目から3本目のグリッドラインまで */
  grid-column: 2 / 3;
}

.summary-title h3 {
  padding-left: 0.2em;
  border-left-style: none;
}

.summary-title a {
  color: #494949;
  text-decoration: none;
}

.summary-title a:hover {
  color: #29abe2;
  text-decoration: underline;
}