body {
  background-color: #fff;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-size: 14px;
  color: #666;
  line-height: 1.6em;
  letter-spacing: 0.5px;
}

h1 {
  padding-left: 0.5em;
  padding-bottom: 0.5em;
  /*文字色*/
  color: #494949;
  /*背景透明に*/
  background: transparent;
  /*左線*/
  border-left: solid 5px #29abe2;
  /*下線*/
  border-bottom: solid 3px #29abe2;
}

h2, h3, h4, h5, h6 {
  padding-left: 0.5em;
  color: #494949;
  background: transparent;
  border-left: solid 5px #29abe2;
}

.sidebar {
  font-size: 18px;
}

.sidebar ul {
  list-style: none;
  padding-left: 1em;
}

.sidebar ul li {
  margin-bottom: 10px;
  padding-left: 0;
}

.sidebar a {
  color: #494949;
  text-decoration: none;
}

.sidebar a:hover {
  color: gold;
}

.sidebar ul {
  list-style: none;
  padding-left: 1em;
}

.sidebar ul li {
  padding-left: 0;
}

nav ul.pagination {
  font-size: 0;
  text-align: center;
  margin: 0;
}

nav ul.pagination li {
  display: inline-block;
  font-size: 14px;
  border: 1px solid #ccc;
  background-color: #eee;
  padding: 3px 10px;
  margin: 0 3px;
}

nav ul.pagination li.active {
  border: 2px solid #29abe2;
}

nav ul.pagination li:hover {
  border-color: #29abe2;
}

nav.pagination-single {
  padding: 20px 0 20px 0;
  overflow: hidden;
}

nav.pagination-single span.previous {
  float: left;
  padding: 10px 0 10px 0;
  max-width: 300px;
}

nav.pagination-single span.next {
  float: right;
  padding: 10px 0 10px 0;
  max-width: 300px;
}

nav.pagination-single a {
  color: #29abe2;
}