<div class="header-title">
  <h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
</div>
<div class="header-subtitle">
  {{ with .Site.Params.subtitle }}{{ . }}{{ end }}
</div>
<div class="header-menu">
  <ul>
    <li><a href="https://phinajs.com/">phina.js(Offcial)</a></li>
    <li><a href="https://github.com/phinajs/phina.js">phina.js(GitHub)</a></li>
    <li><a href="https://qiita.com/alkn203/items/bca3222f6b409382fe20">phina.js Tips(Qiita)</a></li>
    <li><a href="#">About this site</a></li>
  </ul>
</div>
<div class="header-profile">
  <div class="header-profile-image">
    <!-- Show gravatar icon -->
    <img src="https://www.gravatar.com/avatar/{{ md5 .Site.Params.gravatar }}">
  </div>
  <div class="header-profile-author">
    <a href="{{ .Site.Params.authorsite }}">{{ .Site.Params.author }}</a>
  </div>
</div>