<!-- Share Section Layout -->
<center>
<table>
  <tr>
    <!-- Twitter -->
    <td>
      <a href="http://twitter.com/intent/tweet?text={{ .Title }}&url={{ .Permalink }}" target="_blank"><i class="fa fa-twitter-square fa-2x twitter" aria-hidden="true"></i></a>
    </td>
    <!-- Facebook -->
    <td>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank"><i class="fa fa-facebook-square fa-2x facebook" aria-hidden="true"></i></a>
    </td>
    <!-- Hatena Bookmark -->
    <td>
      <a href="http://b.hatena.ne.jp/entry/{{ .Permalink }}" target="_blank"><i class="fa fa-hatena hatena"></i></a>
    </td>
    <!-- Pocket -->
    <td>
      <a href="https://getpocket.com/edit?url={{ .Permalink }}" target="_blank"><i class="fa fa-get-pocket fa-2x pocket" aria-hidden="true"></i></a>
    </td>
    <!-- Google Plus -->
    <td>
      <a href="https://plus.google.com/share?url={{ .Permalink }}" target="_blank"><i class="fa fa-google-plus-square fa-2x googleplus" aria-hidden="true"></i></a>
    </td>
  </tr>
</table>
</center>