<!-- Share Section Layout -->
<div id="share">
  <center>
    <table>
      <tr>
      <!-- Twitter -->
      <td>
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="{{ .Title }}" data-hashtags="{{ .Site.Params.hashtags }}" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </td>
      <!-- Facebook -->
      <!-- Hatena Bookmark -->
      <!-- Pocket -->
      </tr>
    </table>
  </center>
</div>