<!-- SideBars Layout -->
<aside role="complementary" class="col span_3">
  <!-- Profile -->
  <div class="article-header light-gray"><h1>About Me</h1></div>
  <div id="profile" style="text-align: center;">
    <div><img src="https://www.gravatar.com/avatar/{{ md5 .Site.Params.email }}></div>
    {{ with .Site.Params.author}}<div>{{ . }}</div>{{ end }}
    {{ with .Site.Params.profileText }}<div id="profile-text">{{ . }}</div>{{ end }}
  </div>
  <!-- Social Accounts -->
  <div class="article-header light-gray"><h1>Social Accounts</h1></div>
  <ul class="none-ul">
    {{ with .Site.Params.twitter }}<li><a href="https://twitter.com/{{ . }}" target="_blank">Twitter</a></li>{{ end }}
    {{ with .Site.Params.github }}<li><a href="https://github.com/{{ . }}" target="_blank">Github</a></li>{{ end }}
    {{ with .Site.Params.qiita }}<li><a href="https://qiita.com/{{ . }}" target="_blank">Qiita</a></li>{{ end }}
  </ul>
  <!-- About -->
  <div class="article-header light-gray"><h1>About this Site</h1></div>
  <ul class="none-ul">
    <li><a href="{{ $.Site.BaseURL }}pages/about/">このブログについて</a></li>
  </ul>
  <!-- Links -->
  <div class="article-header light-gray"><h1>Links</h1></div>
  <ul class="none-ul">
      <li>
        <a href="https://qiita.com/alkn203/items/bca3222f6b409382fe20">
        <div>phina.js Tips集</div>
        </a>
      </li>
  </ul>
    <!-- Tags -->
  <div class="article-header light-gray"><h1>Tags</h1></div>
    <ul class="none-ul">
      {{ range $name, $value := $.Site.Taxonomies.tags }}
        <li>
          <a href="{{ $.Site.BaseURL }}/tags/{{ $name }}/">
          <div>{{ $name }}&nbsp;({{ .Count }})</div>
          </a>
        </li>
      {{ end }}
    </ul>
</aside>
