<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">

<head>
  <!-- Basic Page Needs -->
  <meta charset="UTF-8">
  <title>
    {{ $isHomePage := eq .Title .Site.Title }}{{ .Title }}{{ if eq $isHomePage false }} | {{ .Site.Title }}{{ end }}
  </title>
  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1,initial-scale=1">
  <!-- Twitter Card Metas -->
  <meta name="twitter:card" content="summary" />
  <meta name="og:title" content="{{ .Title }}" />
  <meta name="og:description" content="{{ if .IsPage }}{{ .Summary }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
  <meta name="og:image" content="{{ if .IsPage }}{{ .Permalink }}{{ .Params.eyecatch }}{{ else }}https://www.gravatar.com/avatar/{{ md5 .Site.Params.gravatar }}{{ end }}" />
  <meta name="twitter:url" content="{{ .Permalink }}" />
  <meta name="twitter:site" content="@alkn203" />
  <meta name="twitter:creator" content="@alkn203" />
  <!-- HTTPS Canonical URL -->
  <link rel="canonical" href="{{ .Permalink }}" />
  <!-- CSS -->
  <!--  <link rel="stylesheet" href="/css/sanitize.css"> -->
  <link rel="stylesheet" href="/css/theme.css">
  <link rel="stylesheet" href="/css/syntax.css">
  <link rel="stylesheet" href="/css/custom.css">
</head>

<body>
  <div class="container">
    <!-- Header Section -->
    <header role="banner" class="header">
      {{ partial "header.html" . }}
    </header>
    <!-- Sidebar Section -->
    <nav class="sidebar">
      {{ partial "sidebar.html" . }}
    </nav>
    <!-- Main Section -->
    <main role="main" class="main">
      {{ block "main" . }}
      {{ end }}
    </main>
    <!-- Pagenator Section -->
    <nav class="page">
      {{ block "pagenator" . }}
      {{ end }}
    </nav>
    <!-- Fooater Section -->
    <footer role="contentinfo" class="footer">
      {{ partial "footer.html" . }}
    </footer>
  </div>
  <!-- google analytics -->
  {{ with .Site.Params.analytics }}
  <script>
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', '{{ . }}', 'auto');
    ga('send', 'pageview');
  </script>{{ end }}
</body>

</html>