{{ define "main" }}
  <h1>{{ .Title }}</h1>
  <div class="meta">
        {{ .Date.Format "Jan 2, 2006" }} &nbsp;
        {{ range .Params.tags }}
          #<a href="/tags/{{ . | urlize }}">{{ . }}</a>&nbsp;
        {{ end }}
    </div>
    <!-- Share Buttons -->
    {{ if .Site.Params.showsShare }}
      {{ partial "share.html" . }}
    {{ end }}

    <article>
      <!-- check toc flag -->
      {{ if .Site.Params.showsToc }}
        <h2>Table of contents</h2>
        {{ .TableOfContents }}
      {{ end }}
      {{ .Content }}
    </article>

    {{ if .Site.Params.showsShare }}
      {{ partial "share.html" . }}
    {{ end }}

{{ end }}