{{ define "main" }}
  <div class="single-container">
    <div class="single-title">
      <h1>{{ .Title }}</h1>
    </div>
    <div class="single-modified">
      {{ .Lastmod.Format "January 2, 2006" }}  
    </div>
    <div class="single-content">
      <!-- Main article -->
      {{ .Content }}
    </div>
  </div>
{{ end }}

{{ define "pagenator"}}
  {{ partial "prevnext" . }}
{{ end }}

{{ define "tocbar"}}
  <!-- check toc flag -->
  {{ if .Site.Params.showsToc }}
    <h1>Table of contents</h1>
    {{ .TableOfContents }}
  {{ end }}
{{ end }}